<div class="hero-section lg--up--ten-twelfths mx--auto px2 md--up--px0" data-fade-in="{{ fade_in }}">
  <div class="sm--hide">
    {% assign image = images[product.metafields.attributes.header_image] %}
    {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
    {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
      <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
        <img id="{{ img_id }}"
             class="resp-img lazyload"
             data-src="{{ img_url }}"
             data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
             data-aspectratio="{{ image.aspect_ratio }}"
             data-sizes="auto"
             alt="{{ product.title | escape }}">
         <img id="{{ img_id }}"
              class="resp-img-placeholder"
              src="{{ image | img_url: '1x1' }}"
              width="{{ image.width }}"
              height="{{ image.height }}"
              alt="{{ image.alt | escape }}">
      </div>
    </div>
    <noscript>
      <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
    </noscript>
  </div>

  <div class="sm--hide hero-section__title-container">
    <div class="text__header text__header--1">{{ product.title }}</div>
  </div>

  <div class="md--up--hide">
    {% assign mobile_image = images[product.metafields.attributes.mobile_header_image]  %}
    {% capture mobile_img_id %}ItemImage-{{ mobile_image.id }}{% endcapture %}
    {% capture wrapper_id %}ItemImageWrapper-{{ mobile_image.id }}{% endcapture %}
    {%- assign mobile_img_url = mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
      <div style="padding-top:{{ 1 | divided_by: mobile_image.aspect_ratio | times: 100}}%;">
        <img id="{{ mobile_img_id }}"
             class="resp-img lazyload"
             data-src="{{ mobile_img_url }}"
             data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
             data-aspectratio="{{ mobile_image.aspect_ratio }}"
             data-sizes="auto"
             alt="{{ product.title | escape }}">
         <img id="{{ mobile_img_id }}"
              class="resp-img-placeholder"
              src="{{ mobile_image | img_url: '1x1' }}"
              width="{{ mobile_image.width }}"
              height="{{ mobile_image.height }}"
              alt="{{ mobile_image.alt | escape }}">
      </div>
    </div>
    <noscript>
      <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
    </noscript>
  </div>

  <div class="md--up--hide hero-section__title-container">
    <div class="text__header text__header--1">{{ product.metafields.attributes.mobile_title }}</div>
  </div>

  <div class="hero-section__text-container line-length--large px1 md--up--px3">
    <div class="text__body text__body--3 text__body--3--consistent text__body--white text-align--center">
      {{ product.description }}
    </div>
  </div>

  <div class="text-align--center">
    <span class="text__body text__body--3 text__body--3--consistent text__body--slim text__body--white">
      Origin
      <span class="text__highlight text__highlight--1 text__highlight--white">
        {{ product.metafields.attributes.origin }}
      </span>
    </span>


    <div class="hero-section__icon">
      <a class="pointer" data-banner-scroll>
        <button class="btn sm--pb2 border--none border--none bg--transparent">{% include 'icon-arrow-down' %}</button>
      </a>
    </div>
  </div>
</div>
