{% assign product_collection = product.collections.first %}

<div class="page-section lg--up--ten-twelfths mx--auto px2 md--up--px0" id="product-specs">
  <div class="grid grid--flex--mobile">
    <div class="grid__item md--up--four-twelfths lg--up--three-twelfths">
      <div class="detail__container">
        <div class="sm--hide detail__title text__highlight text__highlight--2">
          {{ product.title }}
        </div>
        <div class="label pt2">Collection</div>
        <div class="text__body text__body--4 ">
          {{ product.metafields.attributes.collection_title }}
        </div>
        <div class="label pt2">Materials</div>
        <div class="text__body text__body--4 ">
          {{ product.metafields.attributes.materials }}
        </div>
        <div class="label pt2">Dimensions (mm)</div>
        <div class="text__body text__body--4 ">
          {{ product.metafields.attributes.dimensions }}
        </div>
        <div class="pt35">
          <a download href="{{ product.metafields.attributes.tear_sheet_pdf }}" class="action-link" target="_blank">
            Download tear sheet
          </a>
        </div>
        <div class="pt50 text__body text__body--4">
          Are you Trade?
        </div>
        <div class="pt2">
          <a href="/pages/trade-program" class="action-button action-button--contrast--inverse">
            Request A Quote
          </a>
        </div>
      </div>
    </div>

    <div class="grid__item md--up--eight-twelfths lg--up--nine-twelfths">
      <div class="md--up--hide detail__container pb2">
        <div class="detail__title text__highlight text__highlight--2">
          {{ product.title }}
        </div>
      </div>
      <div class="product__spec--image">
        <div class="product__spec--image-container">
          <img src="{{ product.metafields.attributes.spec_image_1 }}" class="up--1280" alt="{{ product.title }} specs"/>

          <img src="{{ product.metafields.attributes.mobile_spec_image_1 }}" class="dn--1280" alt="{{ product.title }} specs"/>
        </div>
      </div>
    </div>
  </div>
</div>
