<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{%- include 'global-variables' -%}

{%- unless grid_item_width -%}
  {%- assign grid_item_width = 'md-dn--one-half lg---up--one-third wd--one-third' -%}
{%- endunless -%}

{%- unless section_color -%}
  {%- assign section_color = 'primary' -%}
{%- endunless -%}

{%- comment -%}
  Check if the product is on sale and set a variable to be used below.
{%- endcomment -%}
{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{%- comment -%}
  Check if the product is sold out and set a variable to be used below.
{%- endcomment -%}
{%- assign sold_out = true -%}
{%- if product.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}

<a href="{{ product.url | within: collection }}" class="sm--hide t--list-and-grid relative product-grid-item">
  {%- assign image = images[product.metafields.attributes.collection_image] %}
  {%- assign ratio = image.aspect_ratio -%}
  {%- assign force_crop = false -%}
  {%- if ratio < 0.5 -%}
    {%- assign force_crop = true -%}
    {%- assign ratio = 1 -%}
  {%- endif -%}
  {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
  {% capture wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
  {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <div id="{{ wrapper_id }}" class="resp-img-wrapper {% if force_crop %}force-crop{% endif %} js">
    {% if settings.products_show_badges %}
      {% if on_sale or sold_out %}
        <div class="absolute top--0 right--0 pt2 pr2 z2">
          {% if on_sale and sold_out != true %}
            <div class="product-grid-on-sale p1 font-size--s bg--{{ section_color }}-accent color--{{ section_color }}-accent--overlay">{{ 'products.product.on_sale' | t }}</div>
          {% endif %}
          {% if sold_out %}
            <div class="{% if on_sale %}mt1{% endif %} product-grid-on-sale p1 font-size--s bg--{{ section_color }}-text color--{{ section_color }}-text--overlay">{{ 'products.product.sold_out' | t }}</div>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
    <div style="padding-top:{{ 1 | divided_by: ratio | times: 100}}%;">
      <img id="{{ img_id }}"
           class="resp-img lazyload"
           width="{{ image.width }}"
           height="{{ image.height }}"
           data-src="{{ img_url }}"
           data-widths="[180, 360, 470, 600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
           data-aspectratio="{{ ratio }}"
           data-ratio="{{ ratio }}"
           data-sizes="auto"
           alt="{{ image.alt | escape }}">
       <img id="{{ img_id }}"
            class="resp-img-placeholder"
            src="{{ image | img_url: '1x1' }}"
            width="{{ image.width }}"
            height="{{ image.height }}"
            alt="{{ image.alt | escape }}">
    </div>
    <div class="product-grid-item--hover action-button action-button--white">Learn More</div>
  </div>
  <noscript>
    <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="product__img">
  </noscript>

  <div class="m0 mt1 md--up--mt2">
    <p class="my0 color--{{ section_color }}-text text__body text__body--4 text__body--semi-bold">
      {{ product.title }}
    </p>
    <p class="my0 color--{{ section_color }}-text text__body text__body--4 line-length--small">
      {{ product.metafields.attributes.grid_description }}
    </p>
  </div>
</a>

<a href="{{ product.url | within: collection }}" class="md--up--hide t--list-and-grid relative">
  {%- assign mobile_image = images[product.metafields.attributes.mobile_collection_image] %}
  {%- assign mobile_ratio = mobile_image.aspect_ratio -%}
  {%- assign force_crop = false -%}
  {%- if ratio < 0.5 -%}
    {%- assign force_crop = true -%}
    {%- assign ratio = 1 -%}
  {%- endif -%}
  {% capture mobile_img_id %}ProductImage-{{ mobile_image.id }}{% endcapture %}
  {% capture mobile_wrapper_id %}ProductImageWrapper-{{ mobile_image.id }}{% endcapture %}
  {%- assign mobile_img_url = mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <div id="{{ mobile_wrapper_id }}" class="resp-img-wrapper {% if force_crop %}force-crop{% endif %} js">
    {% if settings.products_show_badges %}
      {% if on_sale or sold_out %}
        <div class="absolute top--0 right--0 pt2 pr2 z2">
          {% if on_sale and sold_out != true %}
            <div class="product-grid-on-sale p1 font-size--s bg--{{ section_color }}-accent color--{{ section_color }}-accent--overlay">{{ 'products.product.on_sale' | t }}</div>
          {% endif %}
          {% if sold_out %}
            <div class="{% if on_sale %}mt1{% endif %} product-grid-on-sale p1 font-size--s bg--{{ section_color }}-text color--{{ section_color }}-text--overlay">{{ 'products.product.sold_out' | t }}</div>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
    <div style="padding-top:{{ 1 | divided_by: mobile_ratio | times: 100}}%;">
      <img id="{{ mobile_img_id }}"
           class="resp-img lazyload"
           width="{{ mobile_image.width }}"
           height="{{ mobile_image.height }}"
           data-src="{{ mobile_img_url }}"
           data-widths="[180, 360, 470, 600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
           data-aspectratio="{{ ratio }}"
           data-ratio="{{ ratio }}"
           data-sizes="auto"
           alt="{{ mobile_image.alt | escape }}">
       <img id="{{ mobile_img_id }}"
            class="resp-img-placeholder"
            src="{{ mobile_image | img_url: '1x1' }}"
            width="{{ mobile_image.width }}"
            height="{{ mobile_image.height }}"
            alt="{{ mobile_image.alt | escape }}">
    </div>
  </div>
  <noscript>
    <img src="{{ mobile_image.src | img_url: 'large' }}" alt="{{ mobile_image.alt | escape }}" class="product__img">
  </noscript>

  <div class="m0 mt1 md--up--mt2">
    <p class="my0 color--{{ section_color }}-text text__body text__body--4 text__body--semi-bold">
      {{ product.title }}
    </p>
    <p class="my0 color--{{ section_color }}-text text__body text__body--4">
      {{ product.metafields.attributes.grid_description }}
    </p>
  </div>
</a>
