{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}

{%- assign show_author = section.settings.show_author -%}
{%- assign show_date = section.settings.show_date  -%}
{%- assign show_excerpt = section.settings.show_excerpt  -%}
{%- assign show_tags = section.settings.show_tags  -%}
{%- assign show_link = section.settings.show_link  -%}
{%- assign tags_enabled = section.settings.enable_tag_filter -%}
{%- assign posts_per_row_desktop = section.settings.posts_per_row_desktop -%}

{%- assign layout = '' -%}
{%- if template contains 'grid' -%}
{%- assign layout = 'grid' -%}
{%- endif -%}

{%- assign section_color = 'secondary' -%}
{%- include 'global-variables' -%}

<section class="page page--primary-background sm--pt2 pb3 md--up--py4" data-section-type="blog" data-section-id="{{ section.id }}" data-fade-in="{{ fade_in }}">
  <div class="max-site-width md--up--px2">
    <div class="lg--up--ten-twelfths mx--auto px2 md--up--px0">

      <div class="grid">
        <div class="sm--hide grid__item md--up--four-twelfths lg--up--three-twelfths">
          <br>
        </div>
        <div class="grid__item md--up--eight-twelfths lg--up--nine-twelfths">
          <h1 class="text__header text__header--4 pr2">{{ blog.title }}</h1>
        </div>
      </div>

      <div class="grid py1 md--up--py3">
        <div class="grid__item md--up--four-twelfths lg--up--three-twelfths">
          <div class="lg--up--hide">
            {% include 'blog-sorting' %}
          </div>
          <div class="md--dn--hide detail__container">
            <div class="detail__title text__highlight text__highlight--2">Filter</div>
            {% if tags_enabled %}
              <div class="pt1 md--dn--hide">
                <a class="color--{{ section_color }}-text lg--up--hide p1 inline-block mxn1 mb1 pointer" data-tag-filter-mobile-trigger>
                  <div class="inline-block">
                  {{ 'collections.general.filter' | t }}
                  <span class="font-size--xxxxs inline-block align--middle">
                    <span class="chevron-down">{% include 'svg' | icon: 'icon-chevron-down' %}</span>
                    <span class="chevron-up hide">{% include 'svg' | icon: 'icon-chevron-up' %}</span>
                  </span>
                  </div>
                </a>
                <ul class="list--reset m0 mtn1 pb3 pt2 lg--up--pb0 lg--up--pt3{{ global__basic_font_size }}">
                  <li class="mb1">
                    <a class="action-link" href="{{ blog.url }}">All</a>
                  </li>
                  {% for tag in blog.all_tags %}
                    {% if current_tags contains tag %}
                    <li class="mb1">
                        <a class="text__body--4 color--{{ section_color }}-text inline-block" href="{{ blog.url }}/tagged/{{ tag | handle }}"><span class="border-bottom--main">{{ tag }}</span></a>
                    </li>
                    {% else %}
                    <li class="mb1">
                        <a class="text__body--4 color--{{ section_color }}-text inline-block" href="{{ blog.url }}/tagged/{{ tag | handle }}"><span>{{ tag }}</span></a>
                    </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="grid__item md--up--eight-twelfths lg--up--nine-twelfths">
          <div class="detail__sibling-content">
            {% paginate blog.articles by section.settings.no_posts %}

              <div class="grid">
                <div class="grid__item pt1 {% if section.settings.enable_tag_filter %}lg--up--six-sevenths{% endif %}">

                  {% if layout == 'grid' %}
                    {% include 'blog__grid' %}
                  {% else %}
                    {% include 'blog__list' %}
                  {% endif %}

                  {% if paginate.pages > 1 %}
                    {% include 'pagination' %}
                  {% endif %}

                </div>
              </div>

            {% endpaginate %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Blog pages",
    "class": "blog-template",
    "settings": [
      {
         "type": "select",
         "id": "color_scheme",
         "label": "Color scheme",
         "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary ", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"},
            { "value": "quarternary", "label": "Quarternary"}
         ]
      },
      {
         "type":      "range",
         "id":        "no_posts",
         "min":       2,
         "max":        24,
         "step":       2,
         "label":     "No of posts per page",
         "default":   12
      },
      {
        "type": "checkbox",
        "id": "enable_tag_filter",
        "label": "Enable filtering by tag",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_subscribe_link",
        "label": "Show RSS link",
        "default": true
      },
      {
        "type": "header",
        "content": "Grid"
      },
      {
        "type": "select",
        "id": "posts_per_row_desktop",
        "label": "Posts per row - desktop",
        "default": "one-third",
        "options": [
          {
            "value": "one-half",
            "label": "2"
          },
          {
            "value": "one-third",
            "label": "3"
          },
          {
            "value": "one-quarter",
            "label": "4"
          }
        ]
      },
      {
        "type": "header",
        "content": "Articles"
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_excerpt",
        "label": "Show excerpt",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_link",
        "label": "Show read more link",
        "default": true
      }
    ]
  }
{% endschema %}
