{%- assign section_color = 'tertiary' -%}
{%- include 'global-variables' -%}

<style>
  {%- if section.settings.logo != blank -%}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {%- endif -%}
</style>

{%- assign feature_image_placeholder = false -%}
{% if section.settings.show_banner %}
  {%- if  template.name == 'index' -%}
    {% comment %}
    Add class to body to fix section padding for first section
    {% endcomment %}
    <script>
      document.body.classList.add("banner-image");
    </script>
    {% if section.settings.banner %}
      {%- assign feature_image = section.settings.banner -%}
      {% assign mobile_feature_image = section.settings.mobile_banner %}
      {%- assign padding = '100vh' -%}
      {%- assign mobile_padding = '100vh' -%}
      {%- if section.settings.banner_image_style == 'fit_content' %}
        {%- capture padding -%}{{ 1 | divided_by: feature_image.aspect_ratio | times: 100 }}%{%- endcapture -%}
        {%- capture mobile_padding -%}{{ 1 | divided_by: mobile_feature_image.aspect_ratio | times: 100 }}%{%- endcapture -%}
      {%- endif -%}
    {% else %}
      {%- assign feature_image_placeholder = true -%}
      {%- assign padding = '100vh' -%}
      {%- if section.settings.banner_image_style == 'fit_content' %}
        {%- capture padding -%}38.55%{%- endcapture -%}
      {%- endif -%}
    {% endif %}

    <style>
      .header-padding {
        padding-top: {{ mobile_padding }};
      }

      @media (min-width: 750px) {
        .header-padding {
          padding-top: {{ padding }};
        }
      }
    </style>

    <div class="header-padding"></div>
  {%- endif -%}
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="header" data-template="{{ template.name }}">

  {% unless section.settings.banner and template.name == 'index'  %}
  <div class="header-placeholder full--w hide" data-header-placeholder></div>
  {% endunless %}

  <header class="site-header {% if section.settings.show_banner and template.name == 'index'  %}absolute top--0 left--0{% endif %} full--w {% if section.settings.show_announcement %}{% if section.settings.home_page_only == false or template.name == 'index' %}has-announcement{% endif %}{% endif %}" data-site-header>
    <div class="sm--hide header__background"></div>
    <div class="header__main">
      {% if section.settings.show_announcement %}
        {% capture class %}block full--w bg--{{ section.settings.announcement_color }}-background color--{{ section.settings.announcement_color }}-text px2 py1  font-size--sm text-align--center {% endcapture %}
        {% if section.settings.home_page_only == false or template.name == 'index' %}
          {% if section.settings.link == blank %}
            <div class="announcement-bar {{ class }}">
          {% else %}
            <a href="{{ section.settings.link }}" class="announcement-bar announcement-bar--link  {{ class }} hv--{{ section.settings.announcement_color }}-accent">
          {% endif %}
            <p class="m0 announcement-bar__message">{{ section.settings.text | escape }}</p>
          {% if section.settings.link == blank %}
            </div>
          {% else %}
            </a>
          {% endif %}
        {% endif %}
      {% endif %}

        <div class="header-table header-table__top flex items--center justify--between px2 lg--up--px3 full--w max-site-width relative">
          <div class="header-table__bookend align--middle text-align--left">
            <div class="js">
            </div>
            {% include 'no-js__mobile-menu' %}
          </div>
          <div class="nav__container align--middle text-align--left flex--1 overflow--hidden">
            <!-- Desktop Header -->
            <div class="md--dn--hide">
              <div data-desktop-navigation-container>
                <nav role="navigation">
                  <div class="flex">
                    {% for link in linklists[section.settings.main_linklist].links %}
                      {%- assign child_list_handle = link.title | handleize -%}
                      {% if menus[child_list_handle].links != blank %}
                        <a href="{{ link.url }}" class="t--header-navigation header__link header__link--focus color--header-active font-size--m bg--transparent pointer pr3" tabindex="0" data-active-header-trigger data-active-target="navigation" data-first-level-link="desktop" data-key="{{ child_list_handle }}--{{ forloop.index }}" data-top-level-item tabindex="0"  aria-haspopup="true">
                          <div class="header__link-wrapper flex">{{ link.title }}
                            <span class="flex items--center site-nav__menu-icon site-nav__menu-icon--down site-nav__svg site-nav__chevron-down">{% include 'menu-dropdown' %}</span>
                            <span class="flex hide items--center site-nav__menu-icon site-nav__menu-icon--up site-nav__svg site-nav__chevron-up">{% include 'menu-close' %}</span>
                          </div>
                        </a>
                      {% else %}
                        <a href="{{ link.url }}" class="t--header-navigation header__link header__link--focus color--header-active font-size--m bg--transparent pointer pr3">
                          <div class="header__link-wrapper">{{ link.title }}</div>
                        </a>
                      {% endif %}
                    {% endfor %}
                  </div>
                </nav>
              </div>
            </div>

            <!-- Mobile Header -->
            <div class="lg--up--hide">
              <nav role="navigation">
                <a class="site-nav__link color--{{ section_color }}-text color--header-active px1 inline-block header__link no-wrap pointer {% if forloop.last %}site-nav__link--last{% endif %}"  data-active-header-trigger data-active-target="navigation" data-key="{{ child_list_handle }}--{{ forloop.index }}" data-top-level-item tabindex="0" aria-haspopup="true">
                  <div class="header__link-wrapper">
                    <span class="site-nav__chevron-down flex items--center site-nav__svg">{% include 'icon-menu' %}</span>
                  </div>
                </a>
              </nav>
            </div>
          </div>

          <div class="header-table__center align--middle text-align--center flex--grow--1  md--dn--flex--1-basis-0 lg--up--flex--grow--0 lg--justify--center lg--items--center">
            {% if template.name == 'index' %}
              <div class="font-size--0 m0 lg--up--px3 {% if section.settings.logo != blank %}{% endif %}" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="font-size--0 m0 lg--up--px3" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
                <a href="/" itemprop="url" class="site-header--standard-logo color--{{ section_color }}-text color--header-active f--heading site-logo {% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
                  {% include 'logo' %}
                </a>
                <a href="/" itemprop="url" class="site-header--contrast-logo color--{{ section_color }}-text color--header-active f--heading site-logo {% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
                  {% include 'logo--contrast' %}
                </a>
                <a href="/" itemprop="url" class="site-header--white color--{{ section_color }}-text color--header-active f--heading site-logo {% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
                  {% include 'logo--white' %}
                </a>
                <a href="/" itemprop="url" class="site-header--studio color--{{ section_color }}-text color--header-active f--heading site-logo {% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
                  Studio
                </a>
            {% if template.name == 'index' %}
              </div>
            {% else %}
              </div>
            {% endif %}
          </div>
          <div class="header-table__bookend align--middle text-align--right lg--up--flex--1 md--dn--flex--1-basis-0 lg--up--justify--end no-wrap">
            <div class="mxn1">

              {% if shop.customer_accounts_enabled %}
                {% if customer %}
                <a href="/account" class="t--header-navigation header__link color--{{ section_color }}-text color--header-active  font-size--m bg--transparent inline-block pointer align--middle px1 md--dn--hide" data-top-level-item>
                  <div class="header__link-wrapper">
                    {{ 'layout.customer.account' | t }}
                  </div>
                </a>
                {% else %}
                <a href="/account/login" class="t--header-navigation header__link color--{{ section_color }}-text color--header-active  font-size--m bg--transparent inline-block pointer align--middle px1 md--dn--hide" data-top-level-item>
                  <div class="header__link-wrapper">
                    {{ 'layout.customer.log_in' | t }}
                  </div>
                </a>
                {% endif %}
              {% endif %}

              {% if section.settings.show_search %}
              <a href="/search"  class="t--header-navigation header__link color--{{ section_color }}-text color--header-active font-size--m bg--transparent inline-block pointer align--middle px1 md--dn--hide" data-active-header-trigger data-active-target="search" data-search-button tabindex="0"  data-top-level-item  aria-haspopup="true" data-search-button>
                <div class="header__link-wrapper">
                  {{ 'general.search.submit' | t }}
                </div>
              </a>
              {% endif %}

              <a href="/cart" id="CartLink" class="cart t--header-navigation header__link header__link--focus color--header-active font-size--m bg--transparent pointer m0 px1 flex justify--end items--center" tabindex="0" data-top-level-item>
                <div class="header__link-wrapper site-nav__link">
                  <span>Cart</span>
                  <span>(</span><span id="CartCount">{{ cart.item_count }}</span><span>)</span>
                </div>
              </a>
            </div>
          </div>
        </div>
    </div>

    {% include 'header-active' %}
  </header>

  {% if section.settings.show_banner and template.name == 'index'  %}
    {% if section.settings.banner %}
      <div class="sm--hide">
        {% assign feature_image = section.settings.banner %}
        {% capture img_id %}FeatureImage-{{ feature_image.id }}{% endcapture %}
        {% capture wrapper_id %}FeatureImageWrapper-{{ feature_image.id }}{% endcapture %}
        {%- assign img_url = feature_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {%- assign padding = '100vh' -%}
        {% if section.settings.banner_image_style == 'fit_content' %}
        {%- capture padding %}{{ 1 | divided_by: feature_image.aspect_ratio | times: 100 }}%{% endcapture %}
        {% endif %}
        <div id="{{ wrapper_id }}" class="js banner_image absolute top--0 left--0 full--w">
          <div class="lazyload bg-cover"
              data-bgset="{% include 'bgset', image: feature_image %}"
              data-sizes="auto"
              data-parent-fit="cover"
              style="padding-top:{{ padding }}; background-image: url({{ feature_image | img_url: '300x300' }}); background-size: cover;">
          </div>
          <div class="banner-image__text-container lg--up--ten-twelfths mx--auto px2">
            <div class="header__text-container">
              <div class="header__text">{{ section.settings.banner_text }} <span class="header__text--emphasized">{{ section.settings.emphasized_banner_text }}</span></div>
            </div>
            <div class="flex">
              <div class="one-half"></div>
              <div class="one-half flex justify--between">
                <a class="pointer" data-banner-scroll>
                  <button class="btn border--none border--none bg--transparent color--primary-text hv--primary-accent font-size--l">{% include 'icon-arrow-down' %}</button>
                </a>
                <div class="text-right">
                  <h2 class="label m0 color--tertiary-text">{{ section.settings.banner_product_title }}</h2>
                  <p class="m0 sm--mb2 text__body text__body--4 text__body--white">
                      {{ section.settings.banner_product_description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <noscript>
          <img src="{{ feature_image.src | img_url: 'large' }}" alt="{{ feature_image.alt | escape }}" class="feature-image__img-content">
        </noscript>
      </div>

      <div class="md--up--hide">
        {% assign mobile_feature_image = section.settings.mobile_banner %}
        {% capture mobile_img_id %}FeatureImage-{{ mobile_feature_image.id }}{% endcapture %}
        {% capture mobile_wrapper_id %}FeatureImageWrapper-{{ mobile_feature_image.id }}{% endcapture %}
        {%- assign mobile_img_url = mobile_feature_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {%- assign padding = '100vh' -%}
        {% if section.settings.banner_image_style == 'fit_content' %}
          {%- capture padding %}{{ 1 | divided_by: mobile_feature_image.aspect_ratio | times: 100 }}%{% endcapture %}
        {% endif %}

        <div id="{{ mobile_wrapper_id }}" class="js banner_image absolute top--0 left--0 full--w">
          <div class="lazyload bg-cover"
              data-bgset="{% include 'bgset', image: mobile_feature_image %}"
              data-sizes="auto"
              data-parent-fit="cover"
              style="padding-top:{{ padding }}; background-image: url({{ mobile_feature_image | img_url: '300x300' }}); background-size: cover;">
          </div>
          <div class="header__text-container text-center px2">
            <div class="header__text">{{ section.settings.mobile_banner_text }}<br><span class="header__text--emphasized">{{ section.settings.emphasized_banner_text }}</span></div>
            <div class="py1 text__body text__body--2">{{ section.settings.mobile_banner_cta }}</div>
            <a class="pointer" data-banner-scroll>
              <button class="btn svg-fill--dark border--none border--none bg--transparent color--primary-text hv--primary-accent font-size--l">{% include 'icon-arrow-down' %}</button>
            </a>
          </div>
        </div>
        <noscript>
          <img src="{{ mobile_feature_image.src | img_url: 'large' }}" alt="{{ feature_image.alt | escape }}" class="feature-image__img-content">
        </noscript>
      </div>
    {% else %}
      <div class="banner__placeholder  {% unless section.settings.banner_image_style == 'fit_content' %}full{% endunless %} bg--placeholder-dark js banner_image absolute top--0 left--0 full--w">
        <div class="banner__placeholder-svg full--w full--h">
          {{ 'lifestyle-1' | placeholder_svg_tag }}
        </div>
        <a class="absolute pointer full top--0 left--0 flex items--end justify--center pb30"  data-banner-scroll>
          <button class="btn border--none border--none bg--transparent color--primary-text hv--primary-accent font-size--l">{% include 'icon-arrow-down' %}</button>
        </a>
      </div>
    {% endif %}
  {% endif %}
</div>
<div class="header__active-overlay" data-header-overlay></div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_cart_icon",
        "label": "Show cart icon",
        "info": "If disabled text will be shown instead of icon"
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "show_all_navigation_links",
        "label": "Enable links to drop-down link headings"
      },
      {
        "type": "checkbox",
        "id": "show_search",
        "label": "Show search"
      },
      {
        "type": "header",
        "content": "Mobile menu"
      },
      {
        "type": "checkbox",
        "id": "show_menu_icon",
        "label": "Show menu icon",
        "info": "If disabled text will be shown instead of icon"
      },
      {
        "type": "link_list",
        "id": "secondary_linklist",
        "label": "Secondary menu"
      },
      {
        "type": "checkbox",
        "id": "show_search_sidebar",
        "label": "Show search"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Announce something here"
      },
      {
         "type": "select",
         "id": "announcement_color",
         "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary ", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"},
            { "value": "quarternary", "label": "Quarternary"}
         ],
         "label": "Announcement color combination"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "checkbox",
        "id": "show_banner",
        "label": "Show banner",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Image",
        "info": "1400x800px recommended"
      },
      {
        "type": "text",
        "id": "banner_text",
        "label": "Banner Text",
        "default": "Functional  heirloom furniture."
      },
      {
        "type": "text",
        "id": "emphasized_banner_text",
        "label": "Emphazsized Banner Text",
        "default": "Built to last."
      },
      {
        "type": "text",
        "id": "banner_product_title",
        "label": "Banner Product Title",
        "default": "Stabellenbank"
      },
      {
        "type": "text",
        "id": "banner_product_description",
        "label": "Banner Title Description",
        "default": "Made from solid European ash"
      },
      {
        "type": "image_picker",
        "id": "mobile_banner",
        "label": "Mobile Image"
      },
      {
        "type": "text",
        "id": "mobile_banner_text",
        "label": "Mobile Banner Text",
        "default": "Heirloom furniture."
      },
      {
        "type": "text",
        "id": "mobile_banner_cta",
        "label": "Mobile Banner CTA",
        "default": "Meet the collection"
      },
      {
        "type": "select",
        "id": "banner_image_style",
        "label": "Image style:",
        "options": [
          {
            "value": "full_screen",
            "label": "Full Screen"
          },
          {
            "value": "fit_content",
            "label": "Content"
          }
        ],
        "info": "Use \'Content\' style if you want to avoid image cropping."
      }
    ]
  }
{% endschema %}
