{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}

{%- assign grid_item_width = '' -%}
{%- case section.settings.no_posts -%}
  {%- when '3' -%}
    {%- assign grid_item_width = 'lg--up--one-third' -%}
  {%- when '4' -%}
    {%- assign grid_item_width = 'lg--up--one-quarter' -%}
  {%- when '6' -%}
    {%- assign grid_item_width = 'lg--up--one-third' -%}
  {%- when '8' -%}
    {%- assign grid_item_width = 'lg--up--one-quarter' -%}
{%- endcase -%}

<section class="homepage-blog sm--pt3 pt4 {{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="flickity-only" data-section-id="{{ section.id }}">
  <div class="max-site-width sm--pr0 px2">

    {%- assign blog = blogs['news'] -%}

    <div class="homepage-blog__container lg--up--ten-twelfths mx--auto">
      <div class="homepage-blog__title-container pb3 flex">
        <div class="homepage-blog__title flex justify--between">
          <h2 class="text__header text__header--3 text__header--align-left lg--up--mb0">{{ blog.title }}</h2>
          <div class="lg--up--hide">
            <div class='mobile-flickity__button-container p0'>
              <button class="icon-button px0 pt1 sm--pr2 btn border--none bg--transparent btn--next color--{{ section_color }}-text hv--{{ section_color }}-accent font-size--sm">{% include 'arrow-right' %}</button>
            </div>
          </div>
        </div>

        <div class="homepage-blog __info">
          {% if section.settings.subheading != blank %}
            <div class="homepage-blog__desc {{ global__basic_font_size }}">
              {{ section.settings.subheading }}
            </div>
          {% endif %}

          {% if section.settings.show_blog_link %}
          <a class="inline-block action-link action-link--large" href="{{ blog.url }}" >
            See all
          </a>
          {% endif %}
        </div>
      </div>

      <div class="grid--small-carousel">
        <div class="grid__item--small">
          <div class="homepage-blog__mobile-carousel md--dn--pl2 mobile-flickity relative">
            <div class="mobile-flickity__slides pb3 grid--small grid--uniform lg--up--mtn3">
            {% for article in blog.articles limit:3 %}
              <div class="blog-grid-item nine-twelfths md--six-twelfths grid__item--small lg--up--one-third lg--up--mt3">
                <div>{% include 'article-grid-item__feature' %}</div>
              </div>
            {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blog posts",
  "class": "section-blog",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Heading",
      "info": "If left blank, name of blog will be used."
    },
    {
       "type": "blog",
       "id": "selected_blog",
       "label": "Blog"
    },
    {
       "type": "select",
       "id": "no_posts",
       "options": [
          { "value": "3", "label": "3 Posts"},
          { "value": "4", "label": "4 Posts"},
          { "value": "6", "label": "6 Posts"},
          { "value": "8", "label": "8 Posts"}
       ],
       "label": "Number of posts"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "checkbox",
      "id": "show_blog_link",
      "label": "Show link to blog",
      "default": true
    },
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary ", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"},
          { "value": "quarternary", "label": "Quarternary"}
       ]
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog"
    }
  ]
}
{% endschema %}