{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}

<div class="product" data-section-id="{{ section.id }}" data-product-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  <section class="color--{{ section_color }}-text bg--{{ section_color }}-background">

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

    {%- assign hide_drop_down_labels = section.settings.hide_drop_down_labels -%}
    {%- assign show_quantity = section.settings.show_quantity -%}
    {%- assign enable_payment_button = section.settings.enable_payment_button -%}
    {%- assign show_share_links = section.settings.show_share_buttons -%}

    <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
    <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
    <meta itemprop="brand" content="{{ product.vendor }}">
    <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
    <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

    <div class="max-site-width px0 md--px2 lg--up--px3">
      {% assign feature_product = false %}
      {% assign section_id = section.id %}
      {% include 'product__hero-section' %}
    </div>

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}

  </section>

  <div class="bg--secondary-background">
    <div class="max-site-width px2 lg--up--px3" data-fade-in="{{ fade_in }}">
      {% assign section_id = section.id %}
      {% include 'product__top-section' %}
    </div>
  </div>

  {% if product.metafields.attributes.show_full_width_image == 1 %}
    {% include 'product__hero-2-section' %}
  {% endif %}

  <div class="bg--secondary-background">
    <div class="max-site-width px2 lg--up--px3">
      {% include 'product__heritage-section' %}
    </div>
  </div>

  <div class="bg--secondary-background">
    {% include 'product__hero-3-section' %}
    <div class="max-site-width">
      {% include 'product__spec-section' %}
    </div>
  </div>

  <a href="/pages/craftsmanship">
    <div class="product__workmanship bg--primary-background">
      <div class="max-site-width px2 lg--up--px3 pb2 pt3 md--up--py4">
        <div class="lg--up--ten-twelfths mx--auto">
          <div class="text__header text__header--5">Precise Workmanship</div>
          <div class="flex flex--responsive justify--between pt1">
            <div class="line-length--large text__body text__body--1">
              {{ product.metafields.attributes.workmanship }}
            </div>
            <div class="product__workmanship--arrow pt2 md--up--pl5">{% include 'arrow-right' %}</div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_drop_down_labels",
        "label": "Hide label on selects"
      },
      {
        "type":      "header",
        "content":   "Product description"
      },
      {
         "type":      "paragraph",
         "content":   "Automatically split your product description into separate blocks based on images."
      },
      {
        "type": "checkbox",
        "id": "enable_split_description",
        "label": "Enable split product description",
        "default": true
      },
      {
         "type":      "paragraph",
         "content":   "[Learn more about this feature](https://support.switchthemes.co/article/91-product-page-descriptions)."
      },
      {
         "type": "select",
         "id": "description_color_scheme",
         "label": "Color scheme",
         "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary ", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"},
            { "value": "quarternary", "label": "Quarternary"}
         ]
      },
      {
         "type":      "header",
         "content":   "Related products"
       },
       {
         "type": "checkbox",
         "id": "show_related_products",
         "label": "Show related products"
       },
       {
          "type": "select",
          "id": "related_products_color_scheme",
          "label": "Color scheme",
          "options": [
             { "value": "primary", "label": "Primary"},
             { "value": "secondary ", "label": "Secondary"},
             { "value": "tertiary", "label": "Tertiary"},
             { "value": "quarternary", "label": "Quarternary"}
          ]
       }
    ]
  }
{% endschema %}
