<section data-section-type="carousel" data-section-id="{{ section.id }}" data-fade-in="true">
  <div class="max-site-width md--up--px2">
    <div class="hero-section banner-scroll-top lg--up--ten-twelfths mx--auto">
      <div class="hero-section__title-container hero-section__title-container--logo hero-section__title-container--full text-center">
          {% include 'logo__large' %}
      </div>

      <div class="sm--hide">
        {% assign image = images['studio-portrait.jpg']  %}
        {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
        {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <div id="{{ wrapper_id }}" class="resp-img-wrapper resp-hero-img-wrapper resp-hero-img-wrapper--vertical js">
          <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
                 class="resp-img lazyload"
                 data-src="{{ img_url }}"
                 data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="Rob van Wyen & Kevin Seitz">
             <img id="{{ img_id }}"
                  class="resp-img-placeholder"
                  src="{{ image | img_url: '1x1' }}"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  alt="Rob van Wyen & Kevin Seitz">
          </div>
        </div>
        <noscript>
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
        </noscript>
      </div>

      <div class="md--up--hide">
        {% assign mobile_image = images['studio-portrait-m.jpg']  %}
        {% capture mobile_img_id %}ItemImage-{{ mobile_image.id }}{% endcapture %}
        {% capture wrapper_id %}ItemImageWrapper-{{ mobile_image.id }}{% endcapture %}
        {%- assign mobile_img_url = mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: mobile_image.aspect_ratio | times: 100}}%;">
            <img id="{{ mobile_img_id }}"
                 class="resp-img lazyload"
                 data-src="{{ mobile_img_url }}"
                 data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                 data-aspectratio="{{ mobile_image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="Rob Van Wyen & Kevin Seitz">
             <img id="{{ mobile_img_id }}"
                  class="resp-img-placeholder"
                  src="{{ mobile_image | img_url: '1x1' }}"
                  width="{{ mobile_image.width }}"
                  height="{{ mobile_image.height }}"
                  alt="Rob van Wyen & Kevin Seitz">
          </div>
        </div>
        <noscript>
          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
        </noscript>
      </div>

      <div class="hero-section__text-container sm--px2">
        <div class="text__header text__header--3 text__header--3--x-small">
          Seitz is a New York-based design studio—driven by the past, refined for today.
          Along with their lineage of <a href="/pages/swiss-made">Swiss makers</a>, the studio seeks to revitalize art forms that are quickly fading away.
        </div>
      </div>

      <div class="pt1 md--up--pt3 sm--px2 text__body text__body--3 line-length--x-medium">
        The passion and care from their family of craftsmen instills the honesty that cannot be replicated in mass manufacturing. It's this commitment
        that allows for the preservation and modern interpretation of functional and heirloom furniture—built to last.
      </div>
    </div>
  </div>

  <div class="page-style bg--secondary-background" id="page-top">
    <div class="max-site-width">
      <div class="page-section lg--up--ten-twelfths mx--auto px2 md--up--px0">
        <div class="grid">
          <div class="grid__item md--up--four-twelfths lg--up--three-twelfths">
            <div class="detail__container">
              <div class="detail__title text__highlight text__highlight--2">Contact the Studio</div>
              <div class="mt2 label">Call</div>
              <a class="detail link--inverse" href="tel:+13475991403">+1 347 599 1403</a>
              <div class="mt1 md--up--mt2 label">Email</div>
              <a class="detail" href="mailto:studio@studioseitz.com">studio@studioseitz.com</a>
              <div class="my3">
                <a href="/pages/trade-program" class="action-button action-button--contrast--inverse">
                  Request A Quote
                </a>
              </div>
            </div>
          </div>

          <div class="grid__item md--up--eight-twelfths lg--up--nine-twelfths">
            <div class="detail__sibling-content md--up--nine-tenths lg--up--eight-tenths rte">
              <div class="sm--hide">
                <img src="https://cdn.shopify.com/s/files/1/0074/3859/8244/files/studio-plans.jpg?v=1586194040" alt="Seitz plans"/>
              </div>

              <div class="md--up--hide">
                <img src="https://cdn.shopify.com/s/files/1/0074/3859/8244/files/studio-plans-m.jpg?v=1586194040" alt="Seitz plans"/>
              </div>

              <h4 class="pt2 md--up--pt3">
                The heritage of our family’s past has greatly inspired the collection we have designed for today.
              </h4>

              <p>
                The Seitz family is one of many early craftspeople whose work influenced the handicrafts industry across
                northern Switzerland—dating back to 1795.
              </p>

              <p class="py1">
                Designers Kevin Seitz and Rob van Wyen strive to build upon these traditions that precede us—upholding
                modernist principles with tactile simplicity. Because of this strong history in craft, it’s important for
                the studio to carry on the tradition through the preservation and modern interpretation of local Swiss techniques.
              </p>

              <p class="text__header text__header--3 py2 md--up--py5">
                We find great value in cultural objects that may be ubiquitous or often overlooked.
              </p>

              <p class="pt1 md--up--pt2">
                The biggest reward for us is to find a way to redefine how we may look at a seemingly mundane and sometimes dying
                tradition—reinvigorating its purpose and appreciation.
              </p>

              <p class="py1">
                Kevin specifically remembers growing up with a set of furniture his grandparents received as their dowry in the 1950s.
                These pieces, and even one from the 1800s, are still with his grandmother today and work just as well as when they were first made.
                The idea of heirloom-quality furniture, passed down through generations, is one that certainly became the foundation for the studio’s design principles.
              </p>

              <div class="sm--hide pb2 pt5">
                <img src="https://cdn.shopify.com/s/files/1/0074/3859/8244/files/studio-joinery-workshop.jpg?v=1586194051" alt="Seitz plans"/>
              </div>

              <div class="md--up--hide pb1 pt2">
                <img src="https://cdn.shopify.com/s/files/1/0074/3859/8244/files/studio-joinery-workshop-m.jpg?v=1586194051" alt="Seitz plans"/>
              </div>

              <p class="text__block-quote text__block-quote--1">
                The joinery workshop that produces the Seitz Collection was founded in 1888 by master joiner Anton Mätzler at Kirchgass in Berneck.
                It has remained family-run ever since.
              </p>

              <p class="py2 md--up--py5">
                We truly want to create objects that can stand the test of time. As a result, we partnered with the same workshop that produced those heritage
                pieces for Kevin’s family—under the guise of modern simplicity.
              </p>

              <div class="blogs__article__text blogs__article__text--title pb1">Accolades</div>
              <div class="flex bullet"><span class="pb1 pl1 text__body text__body--4">Espaces Contemporains, Best in Swiss Design, 2019</span></div>
              <div class="flex bullet"><span class="pb1 pl1 text__body text__body--4">Monocle Magazine, Best in Class—Global, 2019</span></div>
              <div class="flex bullet"><span class="pb1 pl1 text__body text__body--4">Dezeen Award Nomination, Homeware Design, 2019</span></div>
              <div class="flex bullet"><span class="pb1 pl1 text__body text__body--4">ICFF Constellation Award Nomination, Seating, 2019</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
