{%- assign section_color = 'secondary' -%}
{%- include 'global-variables' -%}

{%- assign section_color = 'secondary' -%}
{%- include 'global-variables' -%}

<section class="page page-style sm--pt2 pb3 md--up--py4 bg--{{ section_color }}-background">
  <div class="max-site-width md--up--px2">
    <div class="lg--up--ten-twelfths mx--auto px2 md--up--px0">

      <div class="grid">
        <div class="sm--hide grid__item mt2 md--up--four-twelfths lg--up--three-twelfths">
          <br>
        </div>
        <div class="grid__item md--up--eight-twelfths lg--up--nine-twelfths">
          <h1 class="text__header text__header--4 pr2">{{ page.title }}</h1>
        </div>
      </div>

      <div class="grid py1 md--up--py3">
        <div class="grid__item md--up--four-twelfths lg--up--three-twelfths">
          <div class="detail__container mb3">
            <div class="detail__title text__highlight text__highlight--2">Contact the Studio</div>
            <div class="mt2 label">Call</div>
            <a class="detail link--inverse" href="tel:+13475991403">+1.347.599.1403</a>
            <div class="mt1 md--up--mt2 label">Email</div>
            <a class="detail" href="mailto:studio@studioseitz.com">studio@studioseitz.com</a>
          </div>
        </div>

        <div class="grid__item md--up--eight-twelfths lg--up--nine-twelfths">
          <div class="detail__sibling-content md--up--nine-tenths lg--up--eight-tenths rte">
            {{ page.content }}
          </div>

          <div class="mt3 md--up--nine-tenths lg--up--eight-tenths rte">
            {% form 'contact' %}

              {% if form.posted_successfully? %}
                <p class="form-success">
                  {{ 'contact.form.post_success' | t }}
                </p>
              {% endif %}

              {{ form.errors | default_errors }}
              <div class="grid--small">
                <div class="grid__item--small md--up--one-half">
                  <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
                  <input type="text"
                    class="block mt1 full--w px2 py1"
                    name="contact[name]"
                    id="ContactFormName"
                    value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
                    required>
                </div>

                <div class="grid__item--small md--up--one-half mt0 sm--mt2">
                  <label for="ContactFormCompany">{{ 'contact.form.company' | t }}</label>
                  <input type="text"
                    class="block mt1 full--w px2 py1"
                    name="contact[company]"
                    id="ContactFormCompany"
                    autocomplete="off"
                    autocapitalize="off">
                </div>

                <div class="grid__item--small md--up--one-half mt2">
                  <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
                  <input type="email"
                    class="block mt1 full--w  px2 py1"
                    name="contact[email]"
                    id="ContactFormEmail"
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off"
                    required>
                </div>

                <div class="grid__item--small md--up--one-half mt2">
                  <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
                  <input type="tel"
                    class="block mt1 full--w px2 py1"
                    name="contact[phone]"
                    id="ContactFormPhone"
                    value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                    pattern="[0-9\-]*"
                    required>
                </div>

                <div class="grid__item--small mt2">
                  <label for="ContactFormProjectName">{{ 'contact.form.project_name' | t }}</label>
                  <input type="tel"
                    class="block mt1 full--w px2 py1"
                    name="contact[project_name]"
                    id="ContactFormProjectName"
                    autocomplete="off"
                    autocapitalize="off">
                </div>

                <div class="grid__item--small md--up--one-half mt2">
                  <label for="ContactFormLocation">{{ 'contact.form.location' | t }}</label>
                  <input type="tel"
                    class="block mt1 full--w px2 py1"
                    name="contact[location]"
                    id="ContactFormLocation"
                    autocomplete="off"
                    autocapitalize="off">
              </div>

              <div class="grid__item--small md--up--one-half mt2">
                <label for="ContactFormTimeLine">{{ 'contact.form.timeline' | t }}</label>
                <input type="tel"
                  class="block mt1 full--w px2 py1"
                  name="contact[timeline]"
                  id="ContactFormTimeLine"
                  autocomplete="off"
                  autocapitalize="off">
              </div>

              <div class="grid__item--small mt2">
                <label for="ContactFormMessage">Specifications/Notes*</label>
                <textarea rows="10"
                  class="block mt1 full--w  px2 py1"
                  name="contact[body]"
                  id="ContactFormMessage"
                  required>
                  {% if form.body %}
                    {{ form.body }}
                  {% endif %}
                </textarea>
              </div>

              <div class="grid__item--small">
                <input type="submit" class="action-button block full--w max-width--1 btn border--none mt3 px2 py1" value="{{ 'contact.form.send' | t }}">
              </div>
            {% endform %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
